@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinnerOpacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes buttonSpin {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  25% {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(135deg);
  }

  75% {
    transform: translate(-50%, -50%) rotate(225deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(315deg);
  }
}
