// RWD 螢幕尺寸
$wide-pc-media: 1200px;
$pc-media: 960px;
$pad-media: 768px;
$phone-media: 480px;

/**
 * @tokens Colors
 * @presenter Color
 */

// 顏色庫
$color-primary-1: #32a0a6;
$color-primary-1-0-8: rgba(50, 160, 166, 0.08);
$color-primary-2: #ff765c;
$color-primary-2-O-8: rgba(255, 120, 10, 0.08);
$color-secondary-1: #26cbc7;
$color-secondary-2: #51be56;
$color-secondary-3: #ed8620;
$color-secondary-4: #8c5898;
$color-secondary-5: #f8d742;
$color-sb-1: #ffefe2;
$color-sb-2: rgba(255, 120, 10, 0.24);
$color-sb-3: #ff664d;
$color-sb-4: #ff5039;
$color-white: #fff;
$color-g-100: #f2f4f5;
$color-g-300: #c3d5dc;
$color-g-400: #c3c3c3;
$color-g-500: #93a7ae;
$color-g-600: #757575;
$color-g-700: #7a7a7a;
$color-g-800: #45565b;
$color-g-900: #314146;
$color-black: #000;
$color-orange: #ee952d;
$color-blue: #6a9eff;
$color-test-1: rgba(42, 74, 84, 0.6);
$color-test-1-30: rgba(42, 74, 84, 0.3);
$color-primary-1-O-8: rgba(50, 160, 166, 0.08);
$color-primary-2-O-8: rgba(255, 120, 10, 0.08);
$color-b-1: #e0f0f1;
$color-b-2: #c1e2e3;
$color-b-3: #449aa0;
$color-b-4: #207e85;

// 顏色參數
$bd: $color-g-300;
$error: $color-primary-2;
$hr: $color-g-100;

$black-opacity-05: rgba($color-black, 0.5);
$black-opacity-04: rgba($color-black, 0.4);
$black-opacity-02: rgba($color-black, 0.2);
$black-opacity-01: rgba($color-black, 0.1);
$black-opacity-012: rgba($color-black, 0.12);
$black-opacity-014: rgba($color-black, 0.14);
$black-opacity-016: rgba($color-black, 0.16);

$button-1-default: $color-primary-1-O-8;
$button-1-hover: $color-b-1;
$button-1-press: $color-b-2;
$button-1-loading: $color-primary-1-O-8;
$button-1-disable: $color-g-100;

$button-2-default: $color-primary-1;
$button-2-hover: $color-b-3;
$button-2-press: $color-b-4;
$button-2-loading: $color-primary-1;
$button-2-disable: $color-g-100;

$button-3-default: $color-primary-1;
$button-3-hover: $color-primary-1-O-8;
$button-3-press: $color-b-1;
$button-3-loading: $color-primary-1;
$button-3-disable: $color-g-100;

$text-title: $color-g-900;
$text-description: $color-test-1;
$text-disable: $color-test-1-30;

$header-bg: $color-white;
$header-txt: $text-title;
$header-title: $black-opacity-012;
$header-current-border: $color-primary-1;

$nav-hover: #32a0a614;
$nav-press: $color-b-1;
$nav-selected: $color-primary-1;
$nav-txt: $text-title;
$nav-toggle: $color-g-900;
$nav-bg: $color-white;
$nav-svg-bg: $color-g-300;
$nav-notify-bg: $color-primary-2;
$nav-notify-txt: $color-white;

$footer-txt: $text-title;
$footer-sub: $color-g-500;
$thumbnail-bg: $color-g-300;

$mask-bg: rgba($color-black, 0.5);
$mask-box-radius: 24px;
$mask-box-padding: 16px;
$mask-video-bg: rgba($color-black, 0.8);
$mask-box: $color-white;
$mask-dismiss: $color-g-500;
$mask-spinner: $color-white;

$loading-spinner: $color-black;

$login-forget: $text-title;
$login-sub: $color-g-500;
$login-link: $color-primary-1;

$signup-title: $color-g-500;
$signup-sub: $color-g-500;
$signup-link: $text-title;
$signup-phone-bg: $color-white;
$signup-phone-arrow: $color-g-500;
$signup-phone-border: $color-g-400;

$verify-link: $color-primary-1;

$step-txt: $color-g-500;
$step-bg: $color-primary-1;

$btn-txt-light: $color-white;
$btn-txt-dark: $text-title;
$btn-primary: $color-primary-1;
$btn-landing: $color-primary-2;
$btn-exception: $color-g-900;

$hint-bg: #f5f5f5;
$hint-link: $color-primary-1;

$setting-btn: $color-g-400;
$setting-link: $color-primary-1;
$setting-popup-title: $color-black;

$notify-txt: $color-g-900;
$notify-time: $color-g-500;
$notify-unread: $hint-bg;

$color-bid-error: $color-primary-2;
$color-bid-weak: #8d74e7;
$color-bid-average: #f5a623;
$color-bid-strong: #9bd62b;

$color-bar-track: $color-g-300;
$color-bar-progress: $color-primary-1;
$color-bar-error: $color-primary-2;

$promo-progress-bar: $color-secondary-3;
$card-title: $color-g-900;
$promo-expired-text: $color-g-500;

// 其他參數
$font-stack: 'sofia-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fixed-top: 64px;
$fixed-top-mobile: 64px;

$radio-selected-color: $color-primary-1;
$radio-unselected-color: $color-g-300;

$tab-default-color: $color-test-1;
$tab-active-color: $color-primary-1;
$tab-hover-color: $color-primary-1;
$tab-border-color: $color-g-100;

$ads-status-under-review: $color-blue;
$ads-status-active: $color-primary-1;
$ads-status-paused: $color-orange;
$ads-status-completed: $color-test-1-30;
$ads-status-terminated: $color-primary-2;
